<link rel="stylesheet" href="/css/footer.css" />

<footer>
  <div class="about">
    <h1><span class="logo-text">Isaac</span> <span>Blog</span></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
      recusandae, molestiae incidunt
    </p>
    <!-- Contacts -->
    <div class="contact">
      <span>
        <span class="fas fa-phone"></span>
        + (123) 456 789
      </span>
      <span>
        <span class="fas fa-envelope"></span>

        <a href="#"> support@isaac.com </a>
      </span>
    </div>
  </div>
  <div class="socials">
    <span class="fa fa-youtube-play"></span>
    <span class="fa fa-instagram"></span>
    <span class="fa fa-twitter"></span>
    <span class="fa fa-facebook"></span>
  </div>
</footer>
