<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <%- include('../partials/fontawesome') %>
    <!-- css -->
    <link rel="stylesheet" href="/css/accessDenied.css" />
    <title>Unauthorized</title>
  </head>
  <body>
    <div class="notAuthorize-wrapper">
      <h1>Unauthorized</h1>
      <!-- not allow icon fontawesome -->

      <i class="fas fa-exclamation-circle"></i>
      <img src="/images/lock.png" alt="" />

      <p>You are not authorized to access this page</p>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
