<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <%- include('../partials/fontawesome') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/form.css" />
    <title>Register</title>
  </head>
  <body>
    <!-- nav -->
    <%- include('../partials/navbar') %>
    <div class="form-container">
      <!-- icon -->
      <h1>
        Register
        <i class="fas fa-user-plus"></i>
      </h1>

      <% if (error) { %>
      <small class="error">
        <i class="fas fa-exclamation-circle"></i>
        <%= error %>
      </small>
      <% } %>

      <form action="/api/v1/users/register" method="POST">
        <!-- full name -->
        <label>Full Name</label>
        <input type="text" name="fullName" />
        <!-- email -->
        <label>Email</label>
        <input type="email" name="email" />

        <label>Password</label>
        <input type="password" name="password" />

        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" />

        <label>Role</label>
        <select name="role">
          <option value="Fullstack developer">Fullstack developer</option>
          <option value="Front-end developer">Front-end developer</option>
          <option value="Back-end developer">Back-end developer</option>
          <option value="Blogger">Blogger</option>
        </select>

        <label>Bio</label>
        <textarea name="bio" cols="30" rows="10"></textarea>

        <button type="submit">Register</button>

        <p>Already have an account? <a href="/register">Login</a></p>
      </form>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
